:root{
    font-size: 16px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.main-container{
    background-image: url('../img/bg.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

button.reset{
    background-color: #FFAD02;
    color: #223367;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 99999px;
    border: 0;
    outline: none;
    cursor: pointer;
    opacity: 0;
    text-align: center
}

.roadmap{
    display: flex;
    height: 700px;
    width: auto;
    justify-content: center;
}

[class^='level-']{
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.role{
    max-height: 200px;
}

.role:after{
    content: " ";
    position: absolute;
    z-index: 0;
    width: 90px;
    height: 90px;
    border-radius: 9999px;
    background: #fff;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.role, .start-point{
    max-width: 200px;
    width: 200px;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    position: relative;
}

.role:hover img{
    filter: drop-shadow(0 0 5px #FFAD02);
}

.role:hover .tooltip{
    opacity: 1;
    z-index: 999;
}

.role .path-container{
    /* opacity: 0.7; */
    filter: grayscale(1) brightness(3) !important;
    z-index: -9;
}

.role.active .path-container{
    filter: none !important;
    z-index: -8;
}

.disabled .role .path-container{
    filter: grayscale(1) brightness(75%);
    z-index: -9;
}

.img-container{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    z-index: 99 !important;
    position: inherit;
}

.img-container img{
    width: 120px;
    height: 120px;
}

.disabled{
    pointer-events: none;
    filter: grayscale(1);
    /* opacity: 0.4; */
    z-index: -7;
}

.disabled .role *{
    opacity: 0.5;
}

[role="radio"]{
    cursor: pointer;
}

.tooltip{
    position: absolute;
    width: 200px;
    max-width: 200px;
    text-align: left;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    z-index: 99999;
    font-family: 'Roboto', sans-serif;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

.arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #fff;
  filter: drop-shadow(0 0 2px rgba(0,0,0,0.2));
}

.tooltip .title{
    color: #223367;
    font-weight: 700;
    font-size: .8rem;
    margin: 0 0 10px;
}

.tooltip .duration{
    font-size: .6rem;
    margin: 5px 0 8px;
}

.tooltip .description{
    font-size: .8rem;
    margin: 0;
}

.tooltip.ttright{
    opacity: 0;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: -9999;
}

.tooltip.ttleft{
    opacity: 0;
    position: absolute;
    right: 100%;
    top: 0;
    z-index: -9999;
}

.tooltip.tttop{
    opacity: 0;
    position: absolute;
    bottom: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -9999;
}

.tooltip.ttbottom{
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -9999;
}

.tooltip.ttstart{
    width: 150px !important;
    opacity: 1 !important;
    z-index: 9999;
    bottom: 100%;
}

/* PATHS */

.path-container{
    z-index: 0;
    pointer-events: none;
}

.path-container img{
    height: 162px !important;
    filter: none !important;
}
.path-1{
    position: absolute;
    top: 40%;
    left: 50%;
}

.path-2{
    position: absolute;
    bottom: 54%;
    left: 50%;
}
.path-3{
    position: absolute;
    top: 40%;
    right: 50%;
}
.path-4{
    position: absolute;
    bottom: 54%;
    right: 50%;
}
.path-3 img,
.path-4 img{
    transform: rotateZ(180deg);
}

.path-container.path-s img{
}

.path-s{
    position: absolute;
    top: 79px;
    left: -81%;
}

.level-1{ z-index: 3; }
.level-2{ z-index: 4; }
.level-3{ z-index: 3; }
.level-4{ z-index: 2; }
.level-5{ z-index: 1; }

@media screen and (min-width: 992px) and (max-width: 1500px){
    .roadmap{
        transform: scale(calc(992 / 1500)) !important;
    }
}